@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Great+Vibes&family=Kaushan+Script&family=Titillium+Web&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor0:#C2F2E5;
    --cor1:#02734A;
    --cor2:#0E593E;
    --cor3:#038C4C;
    --cor4:#B1BF41;
    --cor5:#000000; 
}

body{
    background-color: var(--cor3);
 }

 h1 
    {   
        font-size: 3em;
        text-shadow: 4px 4px 8px #000000;
        font-family: 'Vollkorn', serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        color: var(--cor4);
        margin: auto;
      }

header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to left, #000000 , #0E593e );
    margin: -7px;
    padding-left: 20px ;
    border: 2px solid var(--cor4);
    box-shadow: 2px 2px 2px #0E593E;
    height: 250px;
}    

header h1 {
    text-align: justify;
    display: inline;
    padding-left: auto;
}
nav a {
    color: var(--cor4);
    background-color: var(--cor5);
    font-size: 1.5em;
    display: inline-flex;
    margin-left: 10px;
    margin-top: -5px;
    border: 1px solid #000000;
    padding: 5px;
}
.espaço{
    border: 2px solid var(--cor5);
    width: 80px;
    height: 300px;
    display: inline-flex;
}
#e1 {
    background-color: #B1BF41;
    margin-left: 850px;
}
#e2 {
    background-color: #C2F2E5;
}
#e3 {
    background-color: #02734A;
}
      
 